In [9]:
import pandas as pd

file_name = '_reviews.json'

# Determine the file type based on its extension and load data accordingly
if file_name.endswith('.csv'):
    df = pd.read_csv(file_name)
elif file_name.endswith('.json'):
    df = pd.read_json(file_name, lines=True)
else:
    raise ValueError("Unsupported file format. Please use a .csv or .json file.")

# Display the first few rows of the DataFrame
df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1F2H80A1ZNN1N,B00GDM3NQC,Connie Correll,"[0, 0]","I bought both boxed sets, books 1-5. Really a...",5,Can't stop reading!,1390435200,"01 23, 2014"
1,AI3DRTKCSK4KX,B00A5MREAM,Grandma,"[0, 0]",I enjoyed this short book. But it was way way ...,3,A leaf on the wind of all hallows,1399593600,"05 9, 2014"
2,A3KAKFHY9DAC8A,0446547573,"toobusyreading ""Inspired Kathy""","[1, 1]",I love Nicholas Sparks. I&#8217;ve read everyt...,4,Great writing from Nicholas Sparks.,1404518400,"07 5, 2014"
3,ATYBCYD6BIXVL,0955809215,Chrissie,"[0, 0]",I really enjoyed this adventure and look forwa...,4,great,1389225600,"01 9, 2014"
4,A17K95SEU3J68U,0991500776,"Sirde ""artist761""","[0, 0]",It was a decent read.. typical story line. Not...,3,It was a decent read.. typical story line ...,1404864000,"07 9, 2014"
...,...,...,...,...,...,...,...,...,...
9995,A32FV8MF6KTRYE,0615676863,S.Wilson,"[0, 0]",The whole series was great! Melody is a fanta...,5,Great,1389830400,"01 16, 2014"
9996,A2IYZ41783TX4R,B00GG2DWO2,"Lynn Demsky ""Lynn/MI""","[0, 0]",I didn't thing that much of this book. I am a...,3,an anchor might have helped....,1391731200,"02 7, 2014"
9997,A1GHQOXZME7VLL,1482012294,CABorgford,"[0, 0]",It is an emotional TRIP to the past with Trip ...,5,Must Read Series - Timing is Everything,1388880000,"01 5, 2014"
9998,A37ZXVSFNM1UAZ,1481978063,"V. Jones ""Phoenix Rising""","[0, 0]",This definitely got under my veins whereby I h...,5,This story grew on me!,1392076800,"02 11, 2014"
9999,A1EZD7IJOOAF6S,0956998569,Amazon Customer,"[1, 1]",Highly recommend this entire trilogy. It is ve...,4,truly enjoyed,1402358400,"06 10, 2014"

In [10]:
# Filter rows where reviewText has less than or equal to 512 characters
df_subset = df[df['reviewText'].str.len() <= 512]

# Select only 'review_text' and 'review_rating' columns
df_selected = df_subset[['reviewText', 'overall']]

# Rename the columns
df_selected = df_selected.rename(columns={'reviewText': 'review_text', 'overall': 'human_rating'})

#df_selected = df_selected.head(1000)

In [11]:
# Save to CSV
df_selected.to_csv('selected_reviews.csv', index=False)

In [12]:
df_selected

                                            review_text  human_rating
0     I bought both boxed sets, books 1-5.  Really a...             5
1     I enjoyed this short book. But it was way way ...             3
3     I really enjoyed this adventure and look forwa...             4
4     It was a decent read.. typical story line. Not...             3
7     This is the First book in the Trilogy, and I'm...             5
...                                                 ...           ...
9993  I've tried to start this graphic novel a coupl...             2
9994  Not so Much this.  There is a less genuine res...             2
9995  The whole series was great!  Melody is a fanta...             5
9998  This definitely got under my veins whereby I h...             5
9999  Highly recommend this entire trilogy. It is ve...             4

[7013 rows x 2 columns]