In [2]:
!pip install vaderSentiment

Collecting vaderSentiment
  Obtaining dependency information for vaderSentiment from https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl.metadata
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl.metadata (572 bytes)
Requirement already satisfied: requests in c:\users\mohammed rafi atheek\anaconda3\lib\site-packages (from vaderSentiment) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mohammed rafi atheek\anaconda3\lib\site-packages (from requests->vaderSentiment) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mohammed rafi atheek\anaconda3\lib\site-packages (from requests->vaderSentiment) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mohammed rafi atheek\anaconda3\lib\site-packages (from requests->vaderSentiment) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mohammed rafi atheek\anaconda3\lib\site-packages (from requests->vaderSentiment) (2023.7.22)
Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/126.0 kB ? eta -:--:--
   --- ------------------------------------ 10.2/126.0 kB ? eta -:--:--
   --- ------------------------------------ 10.2/126.0 kB ? eta -:--:--
   --- ------------------------------------ 10.2/126.0 kB ? eta -:--:--
   --- ------------------------------------ 10.2/126.0 kB ? eta -:--:--
   --- ------------------------------------ 10.2/126.0 kB ? eta -:--:--
   --------- ----------------------------- 30.7/126.0 kB 109.5 kB/s eta 0:00:01
   --------- ----------------------------- 30.7/126.0 kB 109.5 kB/s eta 0:00:01
   ------------ -------------------------- 41.0/126.0 kB 122.9 kB/s eta 0:00:01
   ------------------- ------------------- 61.4/126.0 kB 173.0 kB/s eta 0:00:01
   ------------------------- ------------- 81.9/126.0 kB 209.0 kB/s eta 0:00:01
   --------------------------------- ---- 112.6/126.0 kB 262.6 kB/s eta 0:00:01
   -------------------------------------- 126.0/126.0 kB 274.8 kB/s eta 0:00:00
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [1]:
# import SentimentIntensityAnalyzer class
# from vaderSentiment.vaderSentiment module.
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

# function to print sentiments
# of the sentence.
def sentiment_scores(sentence):

    # Create a SentimentIntensityAnalyzer object.
    sid_obj = SentimentIntensityAnalyzer()

    # polarity_scores method of SentimentIntensityAnalyzer
    # object gives a sentiment dictionary.
    # which contains pos, neg, neu, and compound scores.
    sentiment_dict = sid_obj.polarity_scores(sentence)
    # Example usage:
    vader_score = sentiment_dict['compound'] # Example sentiment score from VADER
    converted_score = convert_sentiment_score(vader_score)
        
    return converted_score

def convert_sentiment_score(score):
    scaled_score = (((score - (-1)) * (5 - 1)) / (1 - (-1))) + 1
    return round(scaled_score)

In [2]:
print("\n1st statement :")
sentence = "Geeks For Geeks is the best portal for \
            the computer science engineering students."

# function calling
print(f"Sentiment Score: {sentiment_scores(sentence)}")

1st statement :
Sentiment Score: 4

In [3]:
import numpy as np
import pandas as pd
import time

In [4]:
df = pd.read_csv('selected_1000_reviews.csv')

In [5]:
df

                                           review_text  human_rating
0    I bought both boxed sets, books 1-5.  Really a...             5
1    I enjoyed this short book. But it was way way ...             3
2    I really enjoyed this adventure and look forwa...             4
3    It was a decent read.. typical story line. Not...             3
4    This is the First book in the Trilogy, and I'm...             5
..                                                 ...           ...
995  Exciting, riveting and well plotted. With each...             5
996  Found this book in a give-away area of my loca...             2
997  I love this series and i can't wait for the la...             5
998  this is a beautiful coming to age story. I lik...             3
999  Rollins is a great writer - it's always, fun, ...             4

[1000 rows x 2 columns]

In [6]:
# Apply your existing function
start_time = time.time()
df['Sentiment'] = df['review_text'].apply(sentiment_scores)

end_time = time.time()
elapsed_time = end_time - start_time

print(f"Elapsed time: {elapsed_time} seconds")

Elapsed time: 9.590644598007202 seconds

In [7]:
df.head()

                                         review_text  human_rating  Sentiment
0  I bought both boxed sets, books 1-5.  Really a...             5          5
1  I enjoyed this short book. But it was way way ...             3          4
2  I really enjoyed this adventure and look forwa...             4          5
3  It was a decent read.. typical story line. Not...             3          4
4  This is the First book in the Trilogy, and I'm...             5          4

In [8]:
# Optionally, save the DataFrame to a CSV file
df.to_csv('VADER_reviews.csv', index=False)

In [9]:
zero_sentiment_rows = df[(df["Sentiment"] == 0)]

print("Rows where sentiment equals zero:")
print(zero_sentiment_rows)

Rows where sentiment equals zero:
Empty DataFrame
Columns: [review_text, human_rating, Sentiment]
Index: []